# This file contains common pin mappings for the BigTreeTech SKR 2.
# To use this config, the firmware should be compiled for the
# STM32F407 with a "32KiB bootloader".

# The "make flash" command does not work on the SKR 2. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR 2
# with that SD card.

# See docs/Config_Reference.md for a description of parameters.

# Note: The initial revision of this board has a flaw that can cause
# damage to itself and other boards. Be sure to verify the board is
# not impacted by this flaw before using it.
[virtual_sdcard]
path: ~/gcode_files

[include macros.cfg]

[display_status]

[pause_resume]


[stepper_x]
step_pin: PE2
dir_pin: !PE1
enable_pin: !PE3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC1
position_endstop: -12
position_min: -12
position_max: 235
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: PE0
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 999999
#diag_pin:

[stepper_y]
step_pin: PD5
dir_pin: !PD4
enable_pin: !PD6
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC3
position_endstop: -40
position_min: -40
position_max: 220
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: PD3
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 999999
#diag_pin:

[stepper_z]
step_pin: PA15
dir_pin: PA8
enable_pin: !PD1
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_max: 250
position_min: -3

[tmc2209 stepper_z]
uart_pin: PD0
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 999999
#diag_pin:

#[stepper_z1]
#step_pin: PD11
#dir_pin: PD10
#enable_pin: !PD13
#microsteps: 8
#rotation_distance: 8

#[tmc2209 stepper_z1]
#uart_pin: PD12
#run_current: 0.580
#stealthchop_threshold: 999999
#diag_pin:

#[z_tilt]
#z_positions: 230, 125
#             50,125
#points: 230, 125
#        50, 125
#retries: 15
#retry_tolerance: 0.001

[bltouch]
sensor_pin: PE4
control_pin: PE5
x_offset: 58
y_offset: 0
#z_offset: 0
pin_move_time: 0.4
probe_with_touch_mode: True
set_output_mode: 5V

[safe_z_home]
home_xy_position: 70, 112
speed: 80.0
z_hop: 10.0
z_hop_speed: 10.0

[extruder]
step_pin: PD15
dir_pin: !PD14
enable_pin: !PC7
microsteps: 16
rotation_distance: 3.408
#gear_ratio: 7:1
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PB3
sensor_type: NTC 100K beta 3950
sensor_pin: PA2
#control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
min_temp: 0
max_temp: 270
pressure_advance: 0.15
max_extrude_only_distance: 110

[tmc2209 extruder]
uart_pin: PC6
run_current: 0.565
#diag_pin:


#[extruder1]
#step_pin: PD11
#dir_pin: PD10
#enable_pin: !PD13
#heater_pin: PB4
#sensor_pin: PA3
#...

[heater_bed]
heater_pin: PD7
sensor_type: NTC 100K beta 3950
sensor_pin: PA1
#control: watermark
min_temp: 0
max_temp: 130

[fan]
pin: PB6

[heater_fan side]
pin: PB4
heater: extruder
max_power: 1.0
heater_temp: 50.0

[heater_fan drivers]
pin: PB7
max_power: 1.0

# Due to BTT implementing a Marlin-specific safety feature,
# "anti-reversal stepper protection", this pin needs pulling
# high to pass power to stepper drivers and most FETs

[output_pin motor_power]
pin: PC13
value: 1

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_5B002F001250324239323920-if00

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
#·max_accel_to_decel: 10000
max_z_velocity: 5
max_z_accel: 100
square_corner_velocity: 5.0

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 0
max_temp: 100

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PC5, EXP1_3=PB1, EXP1_5=PE10, EXP1_7=PE12, EXP1_9=<GND>,
    EXP1_2=PB0, EXP1_4=PE9, EXP1_6=PE11, EXP1_8=PE13, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PA6, EXP2_3=PE7, EXP2_5=PB2, EXP2_7=PC4,   EXP2_9=<GND>,
    EXP2_2=PA5, EXP2_4=PA4, EXP2_6=PA7, EXP2_8=<RST>, EXP2_10=<NC>


[bed_mesh]
speed: 100
#   The speed (in mm/s) of non-probing moves during the
#   calibration. The default is 50.
horizontal_move_z: 10
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
mesh_min: 58, 45
#   Defines the minimum x,y coodinate of the mesh for rectangular beds.  This
#   coordinate is relative to the probe's location. This will be the first
#   point probed, nearest to the origin. This parameter must be provided for
#   rectangular beds.
mesh_max: 223, 205
#   Defines the maximum x,y coordinate of the mesh for rectangular beds.
#   Adheres to the same principle as mesh_min, however this will be the
#   furthest point probed from the bed's origin. This parameter must be
#   provided for rectangular beds.
probe_count: 5, 3
#   For rectangular beds, this is a comma separate pair of integer
#   values (X,Y) defining the number of points to probe along each axis.
#   A single value is also valid, in which case that value will be applied
#   to both axes.  Default is 3,3.
mesh_pps: 2,2
#   A comma separated pair of integers (X,Y) defining the number of
#   points per segment to interpolate in the mesh along each axis. A
#   "segment" can be defined as the space between each probed
#   point. The user may enter a single value which will be applied
#   to both axes.  Default is 2,2.

[mcu rpi]
serial: /tmp/klipper_host_mcu

[adxl345]
cs_pin: rpi:None

[resonance_tester]
accel_chip: adxl345
probe_points:
 100,100,20

# [neopixel my_neopixel]
#pin: PE6
#   The pin connected to the neopixel. This parameter must be
#   provided.
#chain_count:
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
#color_order: GRB
#   Set the pixel order required by the LED hardware. Options are GRB,
#   RGB, BRG, GRBW, or RGBW. The default is GRB.
#initial_RED: 0.0
#initial_GREEN: 0.0
#initial_BLUE: 0.0
#initial_WHITE: 0.0
#   Sets the initial LED color of the Neopixel. Each value should be
#   between 0.0 and 1.0. The WHITE option is only available on RGBW
#   LEDs. The default for each color is 0.

########################################
# TMC2209 configuration
########################################

#[tmc2209 extruder1]
#uart_pin: PD12
#run_current: 0.600
#diag_pin:

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 14.405
#*# pid_ki = 0.416
#*# pid_kd = 124.783
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 69.302
#*# pid_ki = 1.294
#*# pid_kd = 927.782
#*#
#*# [bltouch]
#*# z_offset = 3.630
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.097500, 0.017500, -0.087500
#*# 	-0.077500, -0.012500, -0.292500
#*# 	-0.140000, -0.290000, -0.600000
#*# tension = 0.2
#*# min_x = 58.0
#*# algo = lagrange
#*# y_count = 3
#*# mesh_y_pps = 2
#*# min_y = 45.0
#*# x_count = 3
#*# max_y = 205.0
#*# mesh_x_pps = 2
#*# max_x = 223.0
